/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 5rem 0;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

h1 {
  font-family: system-ui;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
  color: lightgrey;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: auto;
}

hr {
  margin: 2.5rem;
}

ul.about {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
}

li {
  flex-basis: 30%;
  min-width: 30%;
  margin: 0.5rem;
  padding: 1rem;
  font-size: auto;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.portfolio-main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  flex: 1;
  min-width: 300px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 10px;
  text-align: center;
}

.box {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  padding: 1rem;
}

.flex-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.portfolio-image{
  width: 30%;
  order: 2;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .portfolio-main {
    flex-direction: column;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .portfolio-image{
    order: 1;
    margin: 0 auto;
    width: 100%;
  }
}

img.socialIcon {
  height: 30px;
  width: 30px;
}